.blue {
  background-color: skyblue;
  color: black;
}

.green {
  background-color: greenyellow;
  color: black;
}

.yellow {
  background-color: yellow;
  color: black;
}

.purple {
  background-color: violet;
  color: black;
}

.red {
  background-color: rgb(254, 84, 84);
  color: black;
}

.orange {
  background-color: orange;
  color: black;
}

.pink {
  background-color: pink;
  color: black;
}

.completed {
  text-decoration: line-through;
}
