.blue {
  background-color: skyblue
}

.green {
  background-color: greenyellow;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: violet;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}

.completed {
  text-decoration: line-through;
}